*,*:before,*:after {
  box-sizing: border-box;
}
.plane {
  margin: 20px auto;
  max-width: 350px;
  .cockpit {
    height: 215px; 
    position: relative;
    overflow: hidden;
    text-align: center;
    border-bottom: 5px solid #d8d8d8;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 430px;
      width: 100%;
      border-radius: 50%;
      border-right: 5px solid #d8d8d8;
      border-left: 5px solid #d8d8d8;
    }
    h1 {
      width: 60%;
      margin: 95px auto 35px auto;
    }
  }
  
  .exit {
    position: relative;
    height: 50px;
    &:before,
    &:after {
      content: "EXIT";
      font-size: 14px;
      line-height: 18px;
      padding: 0px 2px;
      font-family: "Arial Narrow", Arial, sans-serif;
      display: block;
      position: absolute;
      background: green;
      color: white;
      top: 50%;
      transform: translate(0, -50%);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  
  .fuselage {
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
  }
  
  ol {
    list-style :none;
    padding: 0;
    margin: 0;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  
  .seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
  }
  
  .seat {
    display: flex;
    flex: 0 0 16.66%;
    padding: 5px;
    position: relative;  
    &:nth-child(2) {
      margin-right: 16.66%;
    }
    input[type=checkbox] {
      position: absolute;
      opacity: 0;
    }
    input[type=checkbox]:checked {
      + label {
        background: #ff844a;      
        -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
        animation-duration: 300ms;
        animation-fill-mode: both;
      }
    }
    input[type=checkbox]:disabled {
      + label {
        background: #dddddd;
        // text-indent: -9999px;
        overflow: hidden;
        // &:after {
        //   content: "X";
        //   text-indent: 0;
        //   position: absolute;
        //   top: 4px;
        //   left: 50%;
        //   transform: translate(-50%, 0%);
        // }
        &:hover {
          box-shadow: none;
          cursor: not-allowed;
        }
      }
    }
    label {    
      display: block;
      position: relative;    
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5rem;
      padding: 4px 0;
      background: #6acc6a;
      color: black;
      border-radius: 5px;
      animation-duration: 300ms;
      animation-fill-mode: both;
      
      &:before {
        content: "";
        position: absolute;
        width: 75%;
        height: 80%;
        top: 1px;
        left: 50%;
        transform: translate(-50%, 0%);
        background: rgba(255,255,255,.4);
        border-radius: 3px;
      }
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0px 2px #5C6AFF;
      }
      
    }
  }
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
            transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
            transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}

.el-table .el-table__header-wrapper thead th .cell {
  justify-content: center;
}
.card .table td, .card .table th, .card .el-table td, .card .el-table th {
  padding: 6px 10px !important;
  text-align: center;
}
div.el-table .el-table__row .cell, div.el-table .el-table__header .cell {
  padding: 3px 0;
}

.fc .fc-toolbar.fc-header-toolbar {
  padding: 14px 14px 0 14px;
}
.fc .fc-button .fc-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.fc-event {
  border-radius: 0 !important;
  font-size: 14px !important;
  padding: 10px 10px !important;
}
.fc-license-message {
  display: none !important;
}
.fc .fc-datagrid-cell-cushion {
  white-space: pre !important;
  font-size: 14px;
}

.modal-secondary .modal-footer {
  display: none !important;
}